<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:insert="fragments :: headerfiles">
       
    </head>
    <body>
        <header th:insert="fragments :: nav"></header>
        <div class="container">
            <h2>Listado de ventas</h2>
        
        </div>
        
        <footer th:insert="fragments :: footer"></footer>
        <div th:insert="fragments :: scripts"></div>
        <script type="text/javascript" src="/js/jquery-1.6.3.min.js"></script>
    </body>
</html>
