<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:insert="fragments :: headerfiles">
       
    </head>
    <body>
        <header th:insert="fragments :: nav"></header>
        <div class="container">
            <form th:action="@{/venta/guardar}" th:object="${ventaForm}" th:method="POST">
                <h2>Nueva venta</h2>
                <div class="form-group">
                    <input type="text" class="form-control" id="buscador">
                </div>

                <div class="row">
                    <div class="col">
                        <h4>Detalle de venta</h4>
                    </div>
                    <div class="col">
                        <h5 id="totalVenta" class="float-right"></h5>
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Cód</th>
                            <th scope="col">Articulo</th>
                            <th scope="col">$ Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-none" th:attr="data-id=${index}" th:with="index = ${ventaForm?.detallesDeVenta != null ? ventaForm.detallesDeVenta.size() : 0}" id="fila-nuevo-detalle">
                            <td class="col-1">
                                <input class="form-control mb-0 campo-detalles campo-id" name="detallesDeVenta.producto.id" readonly>
                            </td>
                            <td class="col-8">
                                 <input class="form-control mb-0 campo-detalles campo-nombre" name="detallesDeVenta.producto.nombre" readonly>
                            </td>
                            <td class="col">
                                <input class="form-control mb-0 campo-detalles campo-precio" name="detallesDeVenta.producto.precio" readonly>
                            </td>
                        </tr>
                    </tbody>
                </table> 
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success btn-block">Guardar</button>
                </div> 
            </form>
        </div>
        
        <!--<footer th:insert="fragments :: footer"></footer>-->
        <div th:insert="fragments :: scripts"></div>
        <script type="text/javascript" src="/js/jquery-1.6.3.min.js"></script>
        <script type="text/javascript" src="/js/venta/nueva.js"></script>
    </body>
</html>